
@{
    ViewData["Title"] = "Haqqımızda";
}

<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://i.ibb.co/y05Ywst/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">
            <h2>Haqqımızda</h2>
            <ol>
                <li><a href="index.html">Əsas Səhifə</a></li>
                <li>Haqqımızda</li>
            </ol>
        </div>
    </div> 
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4" data-aos="fade-up">
                <div class="col-lg-4">
                    <img src="https://i.ibb.co/HqNyHHf/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="content ps-lg-5">
                        <h3>Qafqaz Müsəlmanlar İdarəsi Həcc Ziyarət Şöbəsi</h3>
                        <p>
                            Qafqaz Müsəlmanlar İdarəsinin Həcc Ziyarət Şöbəsi 1987-ci ildə qurulmuş və həmin ildən Qafqaz Zəvvarlarının Həcc Ziyarətlərini təşkil etməyə başlamışdır.
                            <br>İlərləyən illərdə Ümrə,Kərbəla,Məşəd Ziyarətlərinin təşkilinə də start verilmişdir.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> <b>35</b> illik <b>Təcrübə</b></li>
                            <li><i class="bi bi-check-circle-fill"></i> <b>100.000</b>-dən çox <b>Zəvvar</b></li>
                            <li><i class="bi bi-check-circle-fill"></i> <b>20</b>-dən çox rəsmi <b>Əməkdaş</b></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section> 
   
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Bizim Üstünlüklərimiz</h2>
            </div>

            <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                <div class="col-xl-5 img-bg" style="background-image: url('https://i.ibb.co/wL3CrGG/why-us-bg.jpg')"></div>
                <div class="col-xl-7 slides  position-relative">

                    <div class="slides-1 swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Təcrübəliyik</h3>
                                    <p>Qafqazda Həcc Ziyarətlərini həyata keçirdən tək qurum olaraq və 35 illik təcrübəmizə əsaslanaraq sizə yüksək səviyyədə xidmət göstərəcəyik.</p>
                                </div>
                            </div> 

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Tanınırıq</h3>
                                    <p>Səudiyyə Ərəbistanında qurduğumuz möhkəm və rəsmi əməkdaşlıqlar sayəsində qurumumuz bütün dünyada tanınır.</p>
                                </div>
                            </div> 

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Peşəkarıq</h3>
                                    <p>Öz işində ixtisaslaşmış peşəkar və işinə diqqətlə yanaşan komandamız ilə xidmətinizdəyik.</p>
                                </div>
                            </div> 

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>

        </div>
    </section> 
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3>Məlumat Almaq Üçün Klik Et</h3>
                    <p>Xidmətlərimiz haqqında ətraflı məlumat almaq üçün düyməni klikləyib Whatsapp xəttimiz ilə əlaqə saxlaya bilərsiniz.</p>
                    <a class="cta-btn" target="_blank" href="https://wa.me/994708397309">Whatsapp Xəttimiz</a>
                </div>
            </div>

        </div>
    </section> 
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Komandamız</h2>
            </div>
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section> 
</main> 
