
@{
    ViewData["Title"] = "Əsas Səhifə";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h2 data-aos="fade-up">Qafqaz Müsəlmanlar İdarəsi Həcc Ziyarət Şöbəsi</h2>
                <blockquote data-aos="fade-up" data-aos-delay="100">
                    <p>1987-ci ildən bəri müqəddəs həcc ziyarətlərinizdə sizə rəhbərlik etməkdən qürur duyur,ən yüksək şəkildə sizə xidmət göstərmək üçün çalışmaqdan zövq alırıq. </p>
                </blockquote>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="about.html" class="btn-get-started">Haqqımızda</a>
                    <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
                </div>

            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Niyə Bizi Seçməlisiniz?</h2>
            </div>

            <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                <div class="col-xl-5 img-bg" style="background-image: url('https://i.ibb.co/wL3CrGG/why-us-bg.jpg')"></div>
                <div class="col-xl-7 slides  position-relative">

                    <div class="slides-1 swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Təcrübəliyik</h3>
                                    <p>Qafqazda Həcc Ziyarətlərini həyata keçirdən tək qurum olaraq və 35 illik təcrübəmizə əsaslanaraq sizə yüksək səviyyədə xidmət göstərəcəyik.</p>
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Tanınırıq</h3>
                                    <p>Səudiyyə Ərəbistanında qurduğumuz möhkəm və rəsmi əməkdaşlıqlar sayəsində qurumumuz bütün dünyada tanınır.</p>
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Peşəkarıq</h3>
                                    <p>Öz işində ixtisaslaşmış peşəkar və işinə diqqətlə yanaşan komandamız ilə xidmətinizdəyik.</p>
                                </div>
                            </div><!-- End slide item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>

        </div>
    </section><!-- End Why Choose Us Section -->
    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Xidmətlərimiz</h2>

            </div>

            <div class="row gy-5">

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="bi bi-airplane" style="color: #4A9CC6;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Həcc Ziyarəti</a></h4>
                        <p class="description">Həcc Ziyarəti Haqqında Məlumat və Əlaqə</p>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon flex-shrink-0"><i class="bi bi-car-front" style="color: #4A9CC6;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Ümrə Ziyarəti</a></h4>
                        <p class="description">Ümrə Ziyarəti Haqqında Məlumat və Əlaqə</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon flex-shrink-0"><i class="bi bi-car-front" style="color: #4A9CC6;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Kərbəla Ziyarəti</a></h4>
                        <p class="description">Kərbəla Ziyarəti Haqqında Məlumat və Əlaqə</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon flex-shrink-0"><i class="bi bi-car-front" style="color: #4A9CC6;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Məşəd Ziyarəti</a></h4>
                        <p class="description">Məşəd Ziyarəti Haqqında Məlumat və Əlaqə</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon flex-shrink-0"><i class="bi bi-info-square" style="color: #4A9CC6;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Virtual Ziyarət Rəhbəri</a></h4>
                        <p class="description">Ziyarət Qaydaları və Əməlləri Haqqında Virtual Rəhbər</p>
                    </div>
                </div><!-- End Service Item -->
            </div>

        </div>
    </section><!-- End Our Services Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3>Məlumat Almaq Üçün Klik Et</h3>
                    <p>Xidmətlərimiz haqqında ətraflı məlumat almaq üçün düyməni klikləyib Whatsapp xəttimiz ilə əlaqə saxlaya bilərsiniz.</p>
                    <a class="cta-btn" target="_blank" href="https://wa.me/994708397309">Whatsapp Xəttimiz</a>
                </div>
            </div>

        </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Son Xəbərlər</h2>

            </div>

            <div class="row gy-5">

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="post-box">
                        <div class="post-img"><img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                        <div class="meta">
                            <span class="post-date">Tue, December 12</span>
                            <span class="post-author"> / Julia Parker</span>
                        </div>
                        <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis</h3>
                        <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi qui magni est...</p>
                        <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="post-box">
                        <div class="post-img"><img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt=""></div>
                        <div class="meta">
                            <span class="post-date">Fri, September 05</span>
                            <span class="post-author"> / Mario Douglas</span>
                        </div>
                        <h3 class="post-title">Et repellendus molestiae qui est sed omnis</h3>
                        <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis doloribus...</p>
                        <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="post-box">
                        <div class="post-img"><img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt=""></div>
                        <div class="meta">
                            <span class="post-date">Tue, July 27</span>
                            <span class="post-author"> / Lisa Hunter</span>
                        </div>
                        <h3 class="post-title">Quia assumenda est et veritati</h3>
                        <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam...</p>
                        <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="post-box">
                        <div class="post-img"><img src="assets/img/blog/blog-4.jpg" class="img-fluid" alt=""></div>
                        <div class="meta">
                            <span class="post-date">Tue, Sep 16</span>
                            <span class="post-author"> / Mario Douglas</span>
                        </div>
                        <h3 class="post-title">Pariatur quia facilis similique deleniti</h3>
                        <p>Et consequatur eveniet nam voluptas commodi cumque ea est ex. Aut quis omnis sint ipsum earum quia eligendi...</p>
                        <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Recent Blog Posts Section -->

</main><!-- End #main -->