
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link href="~/extra/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/extra/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/extra/aos/aos.css" rel="stylesheet">
    <link href="~/extra/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/extra/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/extra/remixicon/remixicon.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet">

</head>

<body class="page-index">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
                <h1 class="d-flex align-items-center">Həcc</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a asp-area="Blog" asp-controller="Blog" asp-action="Blog">Blog</a></li>
                    <li><a asp-area="Main" asp-action="About" asp-controller="About">Haqqımızda</a></li>
                    <li><a asp-area="Main" asp-action="Trips" asp-controller="Trip">Ziyarətlərimiz</a></li>
                    <li><a asp-action="Contact" asp-controller="Contact">Əlaqə</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Virtual Rəhbər</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <!-- <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                              <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                              </ul>
                            </li> -->
                            <li><a href="#">Dropdown 1</a></li>
                            <li><a href="#">Dropdown 2</a></li>
                            <li><a href="#">Dropdown 3</a></li>
                            <li><a href="#">Dropdown 4</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="Main" asp-action="Index" asp-controller="Home" class="active">Əsas Səhifə</a></li>
                </ul>
            </nav>

        </div>
    </header>


    <div>
        @RenderBody()
    </div>
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
                            <span>Həcc</span>
                        </a>
                        <p>Sosial Media Üzərindən Bizi İzləyə Bilərsiniz!</p>
                        <div class="social-links d-flex  mt-3">
                            <a target="_blank" href="https://twitter.com" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a target="_blank" href="https://facebook.com" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a target="_blank" href="https://instagram.com/qafqazmuselmanlar.ziyaret" class="instagram"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a asp-action="Index" asp-contoller="Home">Əsas Səhifə</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-action="About" asp-contoller="About">Haqqımızda</a></li>
                            <li><i class="bi bi-dash"></i> <a asp-action="Services" asp-contoller="Services">Xidmətlərimiz</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Xidmətlərimiz</h4>
                        <ul>
                            <li><i class="bi bi-dash"></i> <a>Xidmət Adı </a></li>
                            <li><i class="bi bi-dash"></i> <a>Xidmət Adı </a></li>
                            <li><i class="bi bi-dash"></i> <a>Xidmət Adı </a></li>
                            <li><i class="bi bi-dash"></i> <a>Xidmət Adı </a></li>
                            <li><i class="bi bi-dash"></i> <a>Xidmət Adı </a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Bizimlə Əlaqə</h4>
                        <p>
                            7 Mirza Fatali Akhundov<br>
                            Baku 1001<br>
                            Azerbaycan <br><br>
                            <strong>Telefon:</strong> +994 12 594-55-49<br>
                            <strong>Email:</strong> qafqazmuselmanlar@gmail.com <br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Həcc</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://www.youtube.com/channel/UCrUt4hG6B-pmDNpyIIwKTQw">rikotech</a>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/extra/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/extra/aos/aos.js"></script>
    <script src="~/extra/glightbox/js/glightbox.min.js"></script>
    <script src="~/extra/swiper/swiper-bundle.min.js"></script>
    <script src="~/extra/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/site.js"></script>

</body>

</html>
