@{
    ViewData["Title"] = "Əlaqə";
}

<main id="main">


    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://i.ibb.co/y05Ywst/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Contact</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ol>

        </div>
    </div>

    <section id="contact" class="contact">
        <div class="container position-relative" data-aos="fade-up">

            <div class="row gy-4 d-flex justify-content-end">

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Adres:</h4>
                            <a href="https://goo.gl/maps/gBYGZvHMGBj5sKm28">7 Mirza Fatali Akhundov, Baku 1001, Azerbaycan</a>
                        </div>
                    </div>

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <a href="https://www.gmail.com/">qafqazmuselmanlar@gmail.com</a>
                        </div>
                    </div>

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Telefon:</h4>
                            <p>
                                +994 12 594-55-49
                            </p>
                        </div>
                    </div>
                    <div class="info-item d-flex">
                        <i class="bi bi-instagram flex-shrink-0"></i>
                        <div>
                            <h4>Instagram:</h4>
                            <a href="https://instagram.com/qafqazmuselmanlar.ziyaret/">
                                qafqazmuselmanlar.ziyaret
                            </a>
                        </div>
                    </div>
                    <div class="info-item d-flex">
                        <i class="bi bi-whatsapp flex-shrink-0"></i>
                        <div>
                            <h4>Whatsapp:</h4>
                            <a href="https://wa.me/">
                                +994 70 700 07 07 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12158.676769385902!2d49.8291302!3d40.3718589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ef508115852561b!2zUWFmcWF6IE3DvHPJmWxtYW5sYXLEsSDEsGRhcsmZc2k!5e0!3m2!1str!2str!4v1669933051999!5m2!1str!2str" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
</main>

